
<nav class="toc py-3">
  <div class="toc-item" >
    <a class="toc-link" routerLink="/">All Post</a>
  </div>
  <div class="toc-item" >
    <a class="toc-link" routerLink="/add-post">Add Post</a>
  </div>
  <div class="toc-item" >
    <a class="toc-link" routerLink="/all-comments">All Comments</a>
  </div>
   <div class="toc-item" >
    <a class="toc-link" routerLink="/approvals">Waiting for Approval</a>
  </div>
   <div class="toc-item" >
    <a class="toc-link" routerLink="/all-categories">All Categories</a>
  </div>
   <div class="toc-item" >
    <a class="toc-link" routerLink="/add-category">Add Category</a>
  </div>
   <div class="toc-item" >
    <a class="toc-link">Upload Image</a>
  </div>
   <div class="toc-item" >
    <a class="toc-link">View All</a>
  </div>
 <div class="toc-item" >
    <a class="toc-link">Upload</a>
  </div>
  <a class="logout" href="#">LogOut</a>
</nav>